body {
    background: radial-gradient(circle,rgba(22, 144, 219, 1) 19%, rgba(25, 145, 181, 1) 54%, rgba(19, 144, 158, 1) 100%);
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

header {
    background: radial-gradient(circle,rgba(63, 198, 251, 1) 24%, rgba(46, 147, 209, 1) 62%, rgba(50, 164, 199, 1) 100%);
    color: white;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid black;
    margin: 10px;
}

nav {
    background: radial-gradient(circle,rgba(64, 181, 227, 1) 25%, rgba(0, 195, 255, 1) 100%);
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-indent: 50px;
    border: 1px solid black;

}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

}

nav a:hover{
    color: blue;
}

section{
    padding: 40px 30px;
    color: white;
    border: 1px;
    margin: 10px;
    border: 1px solid black;
}

h2{
    text-align: center;
    font: bold;
}
p{
    text-align: center;
    
}

ul{
    max-width: 400px;
    margin: auto;
}
li{
    padding: 2px;
}

#projects a{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
  
form{
    max-width: 400px;
    margin: auto;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    margin: 8px 0;
}
input[type="submit"]{
    cursor: pointer;

}
input[type="submit"]:hover{
    background-color: gray;
}
footer{
    padding: 15px;
}
